#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

canvas {
  margin: 0 15px;
}

#tetris {
  border: 1px solid black;
}

#game {
  display: flex;
  align-items: flex-start;
}

#panel {
  margin: 0 2px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

#help ul {
  padding: 0;
  margin: 0;
}

#help li {
  list-style-type: none;
}
